* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #c1dbe6 !important;
    margin: 0px;
    max-height: 100vh;
    font-family: 'Manjari', sans-serif !important;
}

.jumb-config {
    width: 600px !important;
}